@model RAD_biblioteka.Models.Leases

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Leases</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.leaseStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.leaseStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.leaseEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.leaseEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
